@font-face {
  font-family: myFont;
  src: url(CaviarDreams.ttf);
}

* {
  font-family: myFont;
  padding: 0px;
  margin: 0px;
  text-align: justify;
  box-sizing: border-box;
}
body {
  background: fixed;
}
p {
  font-size: 1em;
  line-height: 1.5em;
}
a {
  color: black;
}
header {
  width: 100%;
  padding: 20px 0px;
  background-image: url(background.jpg);
  border-bottom: 2px color(rgb(0, 247, 255));
  height: 120px;
  box-shadow: 0px 0px 15px darkgrey;
}
header h1 {
  color: antiquewhite;
  font-size: 1.5em;
  width: 90%;
  margin: 0 auto;
}
footer {
  width: 100%;
  padding: 20px 0px;
  border-top: 2px darkgrey;
}
section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px darkgrey;
}
section h2 {
  margin: 20px 0;
  width: 90%;
}
section > div {
  width: 90%;
}

.picture {
  text-align: center;
}
.picture img {
  width: 150px;
  height: 150px;
  border: 3px darkgrey;
  box-shadow: 0px 0px 10px darkgrey;
  border-radius: 50%;
  margin-top: -80%;
}
.who {
  border-bottom: 2px dashed darkgrey;
}
.who p:hover {
  text-transform: uppercase;
}
.who a {
  display: block;
  text-align: center;
  padding: 10px;
  margin: 10px auto 30px auto;
  color: black;
  background-color: aqua;
  border-radius: 5px;
}
.contact-flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.contact-flex p:first-child {
  flex: 0 0 40%;
  min-width: auto;
}
.contact-flex p:last-child {
  flex: 0 0 60%;
  min-width: auto;
}
.social {
  display: flex;
}
.button {
  background-color: blue;
  color: aliceblue;
  border-color: aliceblue;
  border-radius: 8px;
}
.button:hover {
  opacity: 0.7;
  cursor: grab;
}

.work {
  max-width: 1750px;
  display: flex;
  flex-wrap: row wrap;
}
.work img {
  padding-right: 50px;
  padding-left: 10px;
}
.worktext h3 {
  font-size: 1.2em;
}
.worktext h4 {
  font-size: 1em;
}
.work,
h3,
h4 p {
  padding-left: 20px;
}
.education h3 {
  font-style: italic;
}
.education h4 {
  color: blue;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}

.column p:first-child {
  margin-top: 10px;
  margin-bottom: 10px;
}
.slide-wrapper {
  position: relative;
  max-width: 48rem;
  margin: auto;
}
.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border: radius 0.5em;
}
.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a:hover {
  opacity: 1;
}
@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }
  #carousel img {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  body {
    width: 100%;
  }
}
